export('Init_Peakset')
export('Init_Matrix')
export('EpiTraceAge')
export('Overlap_Input_with_Clock')
export('EpiTrace_prepare_object')
export('RunEpiTraceAge')
export('RunEpiTracePhylogeny')
export('AssociationOfPeaksToAge')
export('EpiTraceAge_Convergence')
export('age_associated_peak_test')
export("%ni%")

import(RColorBrewer)
import(dplyr)
import(tidyr)
import(ggplot2)
import(Seurat)
import(Signac)
import(GenomicRanges)
import(plyranges)
import(WGCNA)
import(stringr)
import(RColorBrewer)
import(easylift)
# import(easyLift)
import(parallel)
import(nnls)
# import(ggtree)
import(Matrix)
import(matrixStats)

